@using LAQY.Resources
@{
    ViewBag.Title = "Location";
}

<p><iframe src="//batchgeo.com/map/623b8cdbd981edf8b1a0f5bed740c48b" frameborder="0" width="100%" height="500" style="border:1px solid #aaa;"></iframe></p><p><small>@General.View <a href="https://batchgeo.com/map/623b8cdbd981edf8b1a0f5bed740c48b">@General.saudiarabia</a> @General.inmap</small></p>

